[Desktop Entry]
Name=KeePassX
GenericName=Cross Platform Password Manager
GenericName[de]=Passwortverwaltung
GenericName[fr]=Gestionnaire de mot de passe
Exec=keepassx
Icon=keepassx
Comment=Cross Platform Password Manager
Comment[de]=Passwortverwaltung
Comment[fr]=Gestionnaire de mot de passe
Terminal=false
Type=Application
Categories=Qt;Utility;
MimeType=application/x-keepass
